<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSic-Kux4BHuwzQlHd7z__vB59gdJUPXY</string>
	<key>GCM_SENDER_ID</key>
	<string>588914281788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.findmyshop.findMyShop</string>
	<key>PROJECT_ID</key>
	<string>find-my-shop-8ab27</string>
	<key>STORAGE_BUCKET</key>
	<string>find-my-shop-8ab27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588914281788:ios:a21b0d1ad2edb5eecd2239</string>
</dict>
</plist>